@import "variables";

.button {
  @include noselect();
  background-color: $golden;
  border-radius: 30px;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  min-width: 100px;
  padding: 10px 20px;
  text-align: center;
  transition: background-color $duration ease-in-out, border-color $duration ease-in-out;

  &,
  span {
    color: #fff;
  }

  i,
  span,
  path,
  svg {
    transition: all $duration ease-in-out;
  }

  &:hover {
    background-color: darken($golden, 8%);
  }

  &:active {
    background-color: darken($golden, 12%);
    transform: translateY(1px);
  }

  &--circle {
    align-items: center;
    border-width: 2px;
    display: flex;
    height: 32px;
    justify-content: center;
    min-width: 32px;
    padding: 0;
    width: 32px;
  }

  &--black {
    background-color: $black;

    &:hover,
    &:active {
      background-color: lighten($color: $black, $amount: 10);
    }
  }

  &--outline {
    background-color: #fff;
    border-color: $golden;

    &,
    span {
      color: $golden;
    }

    svg {
      path {
        fill: $golden;
      }
    }

    &:hover {
      background-color: $golden;

      &,
      span {
        color: #fff;
      }

      svg {
        path {
          fill: #fff;
        }
      }
    }

    &:active {
      background-color: darken($golden, 8%);
    }
  }

  &__delimiter {
    background-color: rgba(255, 255, 255, 0.25);
    height: 25px;
    margin: 0 14px;
    width: 1px;
  }

  &--add {
    width: 80%;

    svg {
      margin-right: 2px;
    }

    span {
      font-size: 16px;
      font-weight: 600;
      position: relative;
    }

    &:hover {
      i {
        background-color: #fff;
        color: $golden;
      }
    }

    i {
      align-items: center;
      background-color: $golden;
      border-radius: 30px;
      color: $white;
      display: inline-flex;
      font: normal 600 13px/22px "Proxima Nova", Roboto, system-ui, Tahoma, sans-serif;
      height: 22px;
      justify-content: center;
      position: absolute;
      right: -30px;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      width: 22px;
    }

    @media screen and (max-width: 1380px) {
      width: 60%;
    }
  }

  &--cart {
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: 23px;
    min-width: 180px;
    padding: 12px 25px;

    svg {
      margin: 0 8px 1px 0;
    }

    span {
      font: normal 600 16px/23px "Proxima Nova", Roboto, system-ui, Tahoma, sans-serif;
    }
  }
}
