@import "variables";

.header {
  border-bottom: 1px solid $gray-line;

  @media (max-width: 768px) {
    border: none;
  }

  @media (max-width: 500px) {
    background: #ffffff;
    border: none;
    left: 0;
    padding-bottom: 6px;
    position: fixed;
    right: 0;
    z-index: 8;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__cart {
    display: block;

    @media (max-width: 768px) {
      margin-top: 30px;
    }

    @media (max-width: 500px) {
      margin-top: 0;
      width: 100%;
    }
  }

  &__logo {
    display: flex;

    img {
      width: 100%;
    }
  }
}
